.newsletter-section {
  padding: 50px 0;
}

.newsletter {
  background-image:
    linear-gradient(90deg, rgba(8, 107, 137, 0.75), rgba(0, 117, 145, 0.2)),
    url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1800&q=85);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 200px;
  overflow: hidden;
  border-radius: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
  gap: 40px;
}

.newsletter-heading span {
  font-size: 14px;
  font-family: var(--font-heading);
}

.newsletter-heading h2 {
  font-size: 32px;
  line-height: 1.05;
  font-weight: 500;
}

.newsletter-form {
  width: 50%;
  height: 50px;
  padding: 3px 4px 3px 13px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.96);
  border-radius: 10px;
}

.newsletter-form input {
  flex: 1;
  min-width: 0;
  border: 0;
  outline: 0;
  color: #555;
  font-size: 12px;
  background: transparent;
}

.newsletter-form input::placeholder {
  color: #aab0b7;
}

.newsletter-form button {
  width: 29px;
  height: 27px;
  display: grid;
  place-items: center;
  border: 0;
  border-radius: 4px;
  background: transparent;
  color: #8b9be7;
}
.newsletter-form button img {
  width: 22px;
}
@media (max-width: 680px) {
  .newsletter {
    flex-direction: column;
  }
  .newsletter-form {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .newsletter-heading span {
    font-size: 12px;
  }

  .newsletter-heading h2 {
    font-size: 26px;
  }
}
